apiVersion: v1
kind: ConfigMap
metadata:
  name: k8s-lab-gateway-config
  namespace: istio-gateway
data:
  service: |
    spec:
      type: NodePort
      ports:
      - appProtocol: https
        name: https-termination
        nodePort: 30443
        port: 443
        protocol: TCP
        targetPort: 443

  deployment: |
    spec:
      template:
        spec:
          volumes:
          - name: ca-bundle-volume
            secret:
              secretName: k8s-lab-ca-secret
          containers:
          - name: istio-proxy
            volumeMounts:
            - name: ca-bundle-volume
              mountPath: "/etc/istio/custom-ca"
              readOnly: true