victoria-metrics-operator:
  admissionWebhooks:
    policy: Ignore

vmagent:
  enabled: true
  spec:
    selectAllByDefault: true
    nodeScrapeSelector: {}
    nodeScrapeNamespaceSelector: {}
    scrapeInterval: "20s"

    externalLabels:
      cluster: k8s-lab

    extraArgs:
      promscrape.dropOriginalLabels: "true"
      promscrape.streamParse: "true"


kubelet:
  enabled: true

  vmScrape:
    kind: VMNodeScrape
    spec:
      scheme: "https"
      scrapeTimeout: "5s"
      interval: "30s"

      honorLabels: true
      honorTimestamps: false

      bearerTokenFile: "/var/run/secrets/kubernetes.io/serviceaccount/token"
      tlsConfig:
        insecureSkipVerify: true         # OK pour ton lab
        caFile: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"

      metricRelabelConfigs:
        - action: labeldrop
          regex: "(uid)"
        - action: labeldrop
          regex: "(id|name)"
        - action: drop
          source_labels: [__name__]
          regex: "(rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)"
        - action: labeldrop
          regex: "feature_node_kubernetes_io_.*"
        - action: labeldrop
          regex: "nvidia_com_.*"
        - action: replace
          source_labels: [image]
          regex: ""
          replacement: "unknown"
          target_label: image

      relabelConfigs:
        - action: labelmap
          regex: __meta_kubernetes_node_label_(.+)
        - sourceLabels: [__metrics_path__]
          targetLabel: metrics_path
        - targetLabel: "job"
          replacement: "kubelet"
        - source_labels: [__meta_kubernetes_node_name]
          target_label: kubernetes_node

  vmScrapes:
    cadvisor:
      enabled: false
      spec:
        path: /metrics/cadvisor

    probes:
      enabled: true
      spec:
        path: /metrics/probes

    resources:
      enabled: true
      spec:
        path: /metrics/resource


kubeEtcd:
  enabled: true
  vmScrape:
    spec:
      endpoints:
        - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
          port: http-metrics
          scheme: https
          tlsConfig:
            caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            insecureSkipVerify: true  # pour bypass le x509 en lab

kubeControllerManager:
  enabled: true
  vmScrape:
    spec:
      endpoints:
        - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
          port: http-metrics
          scheme: https
          tlsConfig:
            caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            insecureSkipVerify: true  # lab

kubeScheduler:
  enabled: true
  vmScrape:
    spec:
      endpoints:
        - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
          port: http-metrics
          scheme: https
          tlsConfig:
            caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            insecureSkipVerify: true  # lab

grafana:
  enabled: true

  envFromSecret: grafana-oidc-credentials

  grafana.ini:
    server:
      root_url: "https://%(domain)s/"
      domain: "grafana.lab.k8s.local"

    auth.generic_oauth:
      enabled: true
      name: Keycloak
      allow_sign_up: true
      client_id: grafana
      scopes: openid profile email groups roles
      auth_url: https://keycloak.auth.k8s.local/realms/k8s-lab/protocol/openid-connect/auth
      token_url: https://keycloak.auth.k8s.local/realms/k8s-lab/protocol/openid-connect/token
      api_url: https://keycloak.auth.k8s.local/realms/k8s-lab/protocol/openid-connect/userinfo
      signout_redirect_url: https://keycloak.auth.k8s.local/realms/k8s-lab/protocol/openid-connect/logout

      role_attribute_strict: true
      role_attribute_path: "(contains(groups[], 'ADMINS') && 'GrafanaAdmin') || (contains(groups[], 'ADMINS') && 'Admin') || (contains(groups[], 'USERS') && 'Editor') || 'Viewer'"
      allow_assign_grafana_admin: true

      email_attribute_path: email
      name_attribute_path: preferred_username
      login_attribute_path: preferred_username

    auth:
      disable_login_form: true
      oauth_auto_login: true
      oauth_skip_org_role_update_sync: false
      skip_org_role_sync: false

    users:
      auto_assign_org: true
      auto_assign_org_role: Viewer
      auto_assign_org_id: 1

    security:
      disable_initial_admin_creation: false
      allow_embedding: true
      cookie_secure: false

  admin:
    existingSecret: grafana-admin

  plugins:
    - victoriametrics-logs-datasource

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: VictoriaLogs
          type: victoriametrics-logs-datasource
          url: http://vls-victoria-logs-single-server.victorialogs.svc.cluster.local:9428
          access: proxy
          isDefault: false

  ingress:
    enabled: false

  extraSecretMounts:
    - name: ca-bundle
      mountPath: /etc/ssl/certs
      secretName: k8s-lab-ca-secret

extraObjects:
  - apiVersion: operator.victoriametrics.com/v1beta1
    kind: VMNodeScrape
    metadata:
      name: cadvisor-via-apiserver
      namespace: victoriametrics
      labels:
        app.kubernetes.io/name: cadvisor-via-apiserver
    spec:
      scheme: https
      honorLabels: true
      honorTimestamps: false
      interval: 30s
      scrapeTimeout: 5s
      tlsConfig:
        insecureSkipVerify: true
        caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token

      metricRelabelConfigs:
        - action: labeldrop
          regex: "(uid)"
        - action: labeldrop
          regex: "(id|name)"
        - action: labeldrop
          regex: "feature_node_kubernetes_io_.*"
        - action: labeldrop
          regex: "nvidia_com_.*"

      relabelConfigs:
        - action: labelmap
          regex: __meta_kubernetes_node_label_(.+)

        - targetLabel: __address__
          replacement: kubernetes.default.svc:443

        - sourceLabels: [__meta_kubernetes_node_name]
          regex: (.+)
          targetLabel: __metrics_path__
          replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor

        - targetLabel: metrics_path
          replacement: /metrics/cadvisor

        - targetLabel: job
          replacement: kubelet

        - source_labels: [__meta_kubernetes_node_name]
          target_label: kubernetes_node
