profile: ambient

values:
  pilot:
    env:
      - name: PILOT_CERT_PROVIDER
        value: "kubernetes"
      - name: ENABLE_CA_SERVER
        value: "false"
      - name: PILOT_ENABLE_ALPHA_GATEWAY_API
        value: "true"
