profile: ambient

values:
  pilot:
    env:
      - name: PILOT_CERT_PROVIDER
        value: "kubernetes"
      - name: ENABLE_CA_SERVER
        value: "false"

gateways:
  istio-ingressgateway:
    serviceType: NodePort
    ports:
      - name: https
        port: 443
        targetPort: 443
        nodePort: 30443