profile: ambient

global:
  nativeNftables: true
  trustBundleName: "k8s-lab-ca-cm"
  caAddress: "cert-manager-istio-csr.cert-manager.svc.cluster.local:443"

env:
  ENABLE_CA_SERVER: false
  PILOT_ENABLE_ALPHA_GATEWAY_API: true
  
