enabled: true
fullnameOverride: oauth2-proxy

replicas: 1

config:
  existingSecret: oidc
  existingConfig: {}

extraArgs:
  cookie-secure: true
  cookie-name: oauth2
  https-address: ":4443"
  tls-cert-file: "/etc/oauth2-proxy/tls/tls.crt"
  tls-key-file: "/etc/oauth2-proxy/tls/tls.key"
  proxy-prefix: /oauth2
  insecure-oidc-allow-unverified-email: true
  oidc-issuer-url: https://keycloak.auth.k8s.local/realms/k8s-lab
  provider: keycloak-oidc
  redirect-url: https://proxy.auth.k8s.local/oauth2/callback
  code-challenge-method: "S256"
  reverse-proxy: true
  scope: openid email profile
  set-authorization-header: true
  whitelist-domain: .k8s.local
  cookie-domain: .k8s.local
  email-domain: .k8s.local
  show-debug-on-error: true

httpScheme: https

ingress:
  enabled: false

readinessProbe:
  enabled: true
  initialDelaySeconds: 0
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1

livenessProbe:
  enabled: true
  initialDelaySeconds: 5
  timeoutSeconds: 1

metrics:
  enabled: true

extraVolumes:
  - name: ca-bundle
    secret:
      secretName: k8s-lab-ca-secret
  - name: tls-certs
    secret:
      secretName: oauth2-proxy-tls

extraVolumeMounts:
  - mountPath: /etc/ssl/certs
    name: ca-bundle
  - name: tls-certs
    mountPath: /etc/oauth2-proxy/tls
    readOnly: true

podDisruptionBudget:
  enabled: true
  minAvailable: 1

securityContext:
  enabled: true
  runAsNonRoot: true

service:
  portNumber: 4180
  type: ClusterIP

serviceAccount:
  enabled: true

sessionStorage:
  type: redis
  redis:
    clientType: standalone
    existingSecret: redis
    passwordKey: redis-password
    standalone:
      connectionUrl: "redis://oauth2-proxy-redis:6379"


redis: 
  enabled: true

  fullnameOverride: oauth2-proxy-redis
  replicas: 1

  existingSecret: redis
  authKey: redis-password

  redis: 
    config:
      min-replicas-to-write: 0

  persistentVolume:
    enabled: true
    size: 10Gi 

  networkPolicy:
    enabled: false