enabled: true
fullnameOverride: oauth2-proxy

replicas: 1

httpScheme: http

config:
  existingSecret: oidc
  existingConfig: {}

extraArgs:
  skip-auth-preflight: true
  skip-jwt-bearer-tokens: true

  reverse-proxy: true
  upstream: "static://200"
  pass-host-header: true
  pass-user-headers: true
  pass-access-token: true

  set-xauthrequest: true
  set-authorization-header: true

  cookie-secure: true
  cookie-name: _oauth2
  cookie-domain: .k8s.local
  whitelist-domain: .k8s.local

  provider: "keycloak-oidc"
  skip-provider-button: true
  oidc-issuer-url: "https://keycloak.auth.k8s.local/realms/k8s-lab"
  redirect-url: "https://proxy.lab.k8s.local/oauth2/callback"
  code-challenge-method: "S256"
  scope: "openid email profile"

  exclude-logging-path: "/healthz,/ping"


extraVolumes:
  - name: ca-bundle
    secret:
      secretName: k8s-lab-ca-secret

extraVolumeMounts:
  - mountPath: /etc/ssl/certs
    name: ca-bundle

ingress:
  enabled: false

readinessProbe:
  enabled: true
  initialDelaySeconds: 0
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1

livenessProbe:
  enabled: true
  initialDelaySeconds: 5
  timeoutSeconds: 1

metrics:
  enabled: true

podDisruptionBudget:
  enabled: true
  minAvailable: 1

securityContext:
  enabled: true
  runAsNonRoot: true

service:
  portNumber: 4180
  type: ClusterIP

serviceAccount:
  enabled: true

sessionStorage:
  type: redis
  redis:
    clientType: standalone
    existingSecret: redis
    passwordKey: redis-password
    standalone:
      connectionUrl: "redis://oauth2-proxy-redis:6379"


redis: 
  enabled: true

  fullnameOverride: oauth2-proxy-redis
  replicas: 1

  existingSecret: redis
  authKey: redis-password

  redis: 
    config:
      min-replicas-to-write: 0

  persistentVolume:
    enabled: true
    size: 10Gi 

  networkPolicy:
    enabled: false