apiVersion: v1
kind: Service
metadata:
  name: postgres-db
  namespace: keycloak
spec:
  type: ClusterIP
  selector:
    app: postgresql-db
  ports:
    - name: postgres
      protocol: TCP
      port: 5432
      targetPort: 5432
