# Redis Configuration for Envoy Gateway
# Documentation: https://github.com/DandyDeveloper/charts/tree/master/charts/redis-ha

replicas: 1

auth: true
existingSecret: redis
authKey: redis-password

redis:
  config:
    min-replicas-to-write: 0

persistentVolume:
  enabled: true
  size: 10Gi
  storageClass: "local-path"

networkPolicy:
  enabled: false
