hubble:
  relay:
    enabled: true

  ui:
    enabled: true
    baseUrl: "/"
    ingress:
      enabled: false

  metrics:
    serviceMonitor:
      enabled: true
    
    dashboards:
      enabled: true 