grafana:
  enabled: true

  admin:
    existingSecret: grafana-admin

  plugins:
    - victoriametrics-logs-datasource

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: VictoriaLogs
          type: victoriametrics-logs-datasource
          url: http://vls-victoria-logs-single-server.victorialogs.svc.cluster.local:9428
          access: proxy
          isDefault: false

  ingress:
    enabled: true
    hosts:
      - grafana.k8s-lab.local
    path: /
    pathType: Prefix